@import "../config/mixins";

/* Cтили основного контента (Main) */

.section {
  padding: 0 50px;
  display: flex;

  &__tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (width <= 768px) {
      justify-content: center;
      text-align: center;
      gap: 20px;
    }
  }

  &__subtitle {
    font-size: var(--main-font-size);
    color: var(--link-color);
  }

  &__title {
    @include montserratFont(clamp(1.5rem, 1.2857rem + 1.0714vw, 2.25rem), 600);
    color: var(--title-color);
  }

  &__text {
    margin: 20px 0 50px;

    @media (width <= 768px) {
      margin: 20px 0;
    }
  }

  &__button {
    &-container {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &-label {
      color: var(--accent-color);
    }
  }

  &__container {
    flex: 0 0 auto;
    width: 40%;

    @media (width <= 768px) {
      width: 100%;
    }
  }

  &__image {
    width: 40%;

    @media (width <= 768px) {
      width: 60%;
    }

    @media (width <= 425px) {
      width: 100%;
    }
  }

  &__hero {
    text-align: center;

    &-title {
      color: var(--title-color);
    }

    &-text {
      max-width: 500px;
      width: 100%;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    gap: 50px;

    &-item {
      max-width: 380px;
      width: 100%;

      @media (width <= 768px) {
        width: 200px;
      }
    }

    @media (width <= 1024px) {
      gap: 50px;
    }

    @media (width <= 768px) {
      flex-wrap: wrap;
    }
  }

  &__accordion {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 600px;
      width: 100%;
    }
  }

  &:first-child {
    .section__title {
      font-size: var(--title-font-size);
    }
  }

  &:nth-child(1),
  &:nth-child(2) {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (width <= 768px) {
      justify-content: center;
      text-align: center;
      gap: 20px;
    }
  }

  &:nth-child(2) {
    .section {
      &__image {
        width: 30%;

        @media (width <= 768px) {
          order: 1;
          width: 50%;
        }
      }

      &__text {
        &:first-of-type {
          margin: 20px 0 0;
        }

        &:last-of-type {
          margin: 20px 0 50px;
        }
      }
    }
  }

  &:nth-child(3) {
    flex-direction: column;
    gap: 20px;

    .section {
      &__image {
        @media (width <= 768px) {
          order: 1;
        }
      }
    }

    @media (width <= 768px) {
      gap: 100px;
    }
  }

  &:nth-child(4) {
    flex-direction: column;
    gap: 30px;

    .section {
      &__text {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &:nth-child(5) {
    gap: 50px;
    justify-content: space-between;

    @media (width <= 768px) {
      flex-wrap: wrap;

      .section {
        &__container {
          text-align: center;
        }

        &__button-container {
          justify-content: center;
        }
      }
    }
  }

  &:last-child {
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .section {
      &__container {
        width: 55%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @media (width <= 768px) {
          width: 100%;
        }
      }

      &__title {
        text-align: center;
      }

      &__image {
        width: auto;
      }

      &__text {
        width: 100%;
        margin: 0;

        &:last-of-type {
          font-weight: 500;
          color: var(--accent-color);
        }
      }
    }
  }

  @media (width <= 425px) {
    padding: 0 10px;
  }
}

.card__title,
.accordion__title {
  font-size: clamp(1.25rem, 1.1786rem + 0.3571vw, 1.5rem);
}

.card {
  display: flex;
  flex-direction: column;

  &__image {
    max-height: 489px;
    width: 100%;
    height: 100%;
  }

  &__title {
    margin-top: 32px;
    color: var(--title-color);

    @media (width <= 768px) {
      margin-top: 16px;
    }
  }

  &__text {
    margin: 16px 0 32px;

    @media (width <= 768px) {
      margin: 8px 0 16px;
    }
  }
}

.accordion {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, 0.07);
  cursor: pointer;

  &__title {
    color: var(--title-color);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__icon {
    width: 18px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: none;
    stroke: var(--accordion-icon-color);

    &-container {
      width: 40px;
      height: 40px;
      display: block;
      position: relative;
      border-radius: 50%;
      background: var(--accordion-background-icon-color);

      &_opened {
        background: var(--accordion-icon-color);
        stroke: var(--accordion-icon-hovered-color);
        transform: rotateX(180deg);
      }
    }
  }

  &__text {
    display: none;

    &_opened {
      display: block;
    }
  }
}
