/* Cтили основного контента (Main) */

.section {
  padding: 0 50px;
  display: flex;

  &__tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (width <= 768px) {
      justify-content: center;
      text-align: center;
      gap: 20px;
    }
  }

  &__title {
    color: var(--title-color);
  }

  &__text {
    margin: 20px 0 50px;

    @media (width <= 768px) {
      margin: 20px 0;
    }
  }

  &__container {
    flex: 0 0 auto;
    width: 40%;

    @media (width <= 768px) {
      width: 100%;
    }
  }

  &__image {
    width: 40%;
  }

  &__hero {
    text-align: center;

    &-title {
      color: var(--title-color);
    }

    &-text {
      max-width: 500px;
      width: 100%;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    gap: 50px;

    &-item {
      max-width: 380px;
      width: 100%;

      @media (width <= 768px) {
        width: 200px;
      }
    }

    @media (width <= 1024px) {
      gap: 50px;
    }

    @media (width <= 768px) {
      flex-wrap: wrap;
    }
  }

  &:nth-child(1),
  &:nth-child(2) {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (width <= 768px) {
      justify-content: center;
      text-align: center;
      gap: 20px;
    }
  }

  &:nth-child(2) {
    .section {
      &__image {
        width: 30%;

        @media (width <= 768px) {
          order: 1;
          width: 50%;
        }
      }

      &__text {
        &:first-of-type {
          margin: 20px 0 0;
        }

        &:last-of-type {
          margin: 20px 0 50px;
        }
      }
    }
  }

  &:nth-child(3) {
    flex-direction: column;
    gap: 20px;

    .section {
      &__image {
        @media (width <= 768px) {
          order: 1;
        }
      }
    }

    @media (width <= 768px) {
      gap: 100px;
    }
  }

  &:nth-child(4) {
    flex-direction: column;
    gap: 30px;

    .section {
      &__text {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &:last-child {
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .section {
      &__container {
        width: 55%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @media (width <= 768px) {
          width: 100%;
        }
      }

      &__title {
        text-align: center;
      }

      &__image {
        width: auto;
      }

      &__text {
        width: 100%;
        margin: 0;

        &:last-of-type {
          font-weight: 500;
          color: var(--accent-color);
        }
      }
    }
  }
}

.card {
  display: flex;
  flex-direction: column;

  &__image {
    max-height: 489px;
    width: 100%;
    height: 100%;
  }

  &__title {
    margin-top: 32px;
    color: var(--title-color);

    @media (width <= 768px) {
      margin-top: 16px;
    }
  }

  &__text {
    margin: 16px 0 32px;

    @media (width <= 768px) {
      margin: 8px 0 16px;
    }
  }
}
